/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #EEEEEE !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #DDDDDD; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #DDDDDD; background-color: rgba(6,0,0,0.4)}
.cm-s-nqqwal { background-color: #EEEEEE; color: #DDDDDD; }
.cm-s-nqqwal span.cm-builtin { color: #020000; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #080000; }
.cm-s-nqqwal span.cm-keyword { color: #030000; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #040000; }
.cm-s-nqqwal span.cm-def { color: #050000; }
.cm-s-nqqwal span.cm-variable { color: #060000; }
.cm-s-nqqwal span.cm-variable-2 { color: #050000; }
.cm-s-nqqwal span.cm-string { color: #020000; }
.cm-s-nqqwal span.cm-string-2 { color: #020000; }
.cm-s-nqqwal span.cm-number { color: #050000; }
.cm-s-nqqwal span.cm-tag { color: #030000; }
.cm-s-nqqwal span.cm-property { color: #060000; }
.cm-s-nqqwal span.cm-attribute { color: #060000; }
.cm-s-nqqwal span.cm-qualifier { color: #040000; }
.cm-s-nqqwal span.cm-meta { color: #050000; }
.cm-s-nqqwal span.cm-header { color: #030000; }
.cm-s-nqqwal span.cm-operator { color: #030000; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(5,0,0,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #030000; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #000000); }
